<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fancy-image-picker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaFancyImagePicker</name>

    <description>A Cordova plugin that wraps around the TedPicker library(https://github.com/ParkSangGwon/TedPicker) to ease picking of the image from a gallery</description>

    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>
    
    <js-module name="CordovaFancyImagePicker" src="www/CordovaFancyImagePicker.js">
        <clobbers target="FancyImagePicker" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaFancyImagePicker">
                <param name="android-package" value="tech.valiance.ionic.CordovaFancyImagePicker" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.gun0912.tedpicker.ImagePickerActivity" 
                      android:screenOrientation="portrait"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <framework src="src/android/image-picker.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/res/image_picker_activity_styles.xml" target="res/values/image_picker_activity_styles.xml" />

        <source-file src="src/android/CordovaFancyImagePicker.java" target-dir="src/tech/valiance/ionic"/>
    </platform>
</plugin>
