<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fancy-image-picker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaFancyImagePicker</name>
    
    <js-module name="CordovaFancyImagePicker" src="www/CordovaFancyImagePicker.js">
        <clobbers target="fancyImagePicker" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaFancyImagePicker">
                <param name="android-package" value="tech.valiance.ionic.CordovaFancyImagePicker" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaFancyImagePicker.java" target-dir="src/cordova-plugin-fancy-image-picker/CordovaFancyImagePicker" />
    </platform>
</plugin>
